# Importing the datasets

In [1]:
import numpy as np
import pandas as pd

In [3]:
data_yelp = pd.read_csv('yelp_labelled.txt',sep="\t", header = None)

In [5]:
data_yelp.head()
# review and sentiment
# 0-Negative, 1-Positive for positive review

                                                   0  1
0                           Wow... Loved this place.  1
1                                 Crust is not good.  0
2          Not tasty and the texture was just nasty.  0
3  Stopped by during the late May bank holiday of...  1
4  The selection on the menu was great and so wer...  1

In [6]:
# Assign column names
column_name = ['Review','Sentiment']
data_yelp.columns = column_name

In [7]:
data_yelp.head()

                                              Review  Sentiment
0                           Wow... Loved this place.          1
1                                 Crust is not good.          0
2          Not tasty and the texture was just nasty.          0
3  Stopped by during the late May bank holiday of...          1
4  The selection on the menu was great and so wer...          1

In [9]:
data_yelp.shape

(1000, 2)

In [10]:
data_amazon = pd.read_csv('amazon_cells_labelled.txt', sep = '\t', header = None)
data_amazon.head()

                                                   0  1
0  So there is no way for me to plug it in here i...  0
1                        Good case, Excellent value.  1
2                             Great for the jawbone.  1
3  Tied to charger for conversations lasting more...  0
4                                  The mic is great.  1

In [11]:
data_amazon.columns = column_name

In [12]:
data_amazon.head()

                                              Review  Sentiment
0  So there is no way for me to plug it in here i...          0
1                        Good case, Excellent value.          1
2                             Great for the jawbone.          1
3  Tied to charger for conversations lasting more...          0
4                                  The mic is great.          1

In [13]:
data_amazon.shape

(1000, 2)

In [14]:
data_imdb = pd.read_csv('imdb_labelled.txt', sep = '\t', header = None)
data_imdb.head()

                                                   0  1
0  A very, very, very slow-moving, aimless movie ...  0
1  Not sure who was more lost - the flat characte...  0
2  Attempting artiness with black & white and cle...  0
3       Very little music or anything to speak of.    0
4  The best scene in the movie was when Gerardo i...  1

In [15]:
data_imdb.columns = column_name

In [16]:
data_imdb.head

<bound method NDFrame.head of                                                 Review  Sentiment
0    A very, very, very slow-moving, aimless movie ...          0
1    Not sure who was more lost - the flat characte...          0
2    Attempting artiness with black & white and cle...          0
3         Very little music or anything to speak of.            0
4    The best scene in the movie was when Gerardo i...          1
..                                                 ...        ...
743  I just got bored watching Jessice Lange take h...          0
744  Unfortunately, any virtue in this film's produ...          0
745                   In a word, it is embarrassing.            0
746                               Exceptionally bad!            0
747  All in all its an insult to one's intelligence...          0

[748 rows x 2 columns]>

In [17]:
data_imdb.shape

(748, 2)

In [18]:
# Append all the data in a single dataframe

In [21]:
data = data_yelp.append([data_amazon,data_imdb],ignore_index=True)

In [22]:
data.shape

(2748, 2)

In [23]:
data.head()

                                              Review  Sentiment
0                           Wow... Loved this place.          1
1                                 Crust is not good.          0
2          Not tasty and the texture was just nasty.          0
3  Stopped by during the late May bank holiday of...          1
4  The selection on the menu was great and so wer...          1

In [24]:
# check distribution of sentiments

In [25]:
data['Sentiment'].value_counts()

# 1386 positive reviews
# 1362 negative reviews

1    1386
0    1362
Name: Sentiment, dtype: int64

In [26]:
# check for null values
data.isnull().sum()

Review       0
Sentiment    0
dtype: int64

In [27]:
x = data['Review']
y = data['Sentiment']

# Data Cleaning

In [28]:
# here we will remove stopwords, punctuations 
# as well as we will apply lammitization

In [29]:
import string

In [30]:
punct = string.punctuation

In [31]:
punct

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [40]:
from spacy.lang.en.stop_words import STOP_WORDS

In [44]:
stopwords = list(STOP_WORDS) # list of stopwowrds

In [ ]:
# creating a function for data cleaning

In [42]:
import spacy
spacy.cli.download("en_core_web_sm")
nlp = spacy.load('en_core_web_sm')

def text_data_cleaning(sentence):
    doc = nlp(sentence)
    
    tokens = []
    for token in doc:
        if token .lemma_ != "-PRON-":
            temp = token.lemma_.lower().strip()
        else:
            temp = token.lower_
        tokens.append(temp)
        
    cleaned_tokens = []
    for token in tokens:
        if token not in stopwords and token not in punct:
            cleaned_tokens.append(token)
    return cleaned_tokens

In [45]:
text_data_cleaning("Hello all, It's a beautiful day outside there!")

['hello', 'beautiful', 'day', 'outside']

# Vectorization feature engineering

In [47]:
from sklearn.svm import LinearSVC
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline

In [48]:
tfidf = TfidfVectorizer(tokenizer= text_data_cleaning)

In [49]:
classifier = LinearSVC()

## Train the model

In [50]:
from sklearn.model_selection import train_test_split
X_train, X_test , y_train, y_test = train_test_split(x, y, test_size =0.2, random_state = 0)

In [51]:
X_train.shape, X_test.shape

((2198,), (550,))

In [52]:
X_train

2572    An Italian reviewer called this "a small, grea...
526                          And it was way to expensive.
1509    As an earlier review noted, plug in this charg...
144     Nice blanket of moz over top but i feel like t...
2483    The film gives meaning to the phrase, "Never i...
                              ...
763                       But the service was beyond bad.
835     I paid the bill but did not tip because I felt...
1653              Utter crap.. Sound quality is TERRIBLE.
2607    The only place good for this film is in the ga...
2732             She is as lovely as usual, this cutie!
Name: Review, Length: 2198, dtype: object

In [53]:
clf = Pipeline([('tfidf',tfidf),['clf',classifier]])

In [54]:
clf.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('tfidf',
                 TfidfVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.float64'>,
                                 encoding='utf-8', input='content',
                                 lowercase=True, max_df=1.0, max_features=None,
                                 min_df=1, ngram_range=(1, 1), norm='l2',
                                 preprocessor=None, smooth_idf=True,
                                 stop_words=None, strip_accents=None,
                                 sublinear_tf=False,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=<function text_data_cleaning at 0x0000020C14121828>,
                                 use_idf=True, vocabulary=None)),
                ['clf',
                 LinearSVC(C=1.0, class_weight=None, dual=True,
                           fit_intercept=True, intercept_scaling=1,
                           loss='squared_hinge', max_iter=1000,
                           multi_class='ovr', penalty='l2', random_state=None,
                           tol=0.0001, verbose=0)]],
         verbose=False)

## Predict the test set result

In [55]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [56]:
y_pred = clf.predict(X_test)

In [57]:
confusion_matrix(y_test,y_pred)

array([[204,  75],
       [ 49, 222]], dtype=int64)

In [58]:
accuracy_score(y_test,y_pred)

0.7745454545454545

In [59]:
clf.predict(["Wow, I am learning Natural language processing in fun fasion"])
# Out is 1, means review is positive

array([1], dtype=int64)

In [60]:
clf.predict(["It's hard to learn new things"])
# Out is 0, means review is negative

array([0], dtype=int64)